:root {
    --blue : rgba(0, 51, 145, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(0, 84, 240) 0%, rgba(0, 51, 145, 1) 26%, rgba(0,0,0,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.d-none {
    display: none !important;
}

h1 {
    position: absolute;
    width: 100%;
    z-index: -1;
    text-align: center;
    font-size: 7rem;
    font-family: 'Macondo', cursive;
    color: #fff;
    text-shadow: 1px 1px 5px black;
}

.btn {
    padding: 10px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s;
    border: solid 3px black;
    color: black;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--blue);
    border: solid 3px white;
    color: white;
}

.btn:active {
    transform: scale(.3);
}

h4 {
    color: white;
    text-shadow: 1px 1px 3px black;
    text-align: center;
}

@media all and (max-width:1000px) {
    h1 {
        font-size: 5rem;
        height: 15vh;
    }

    .container {
        height: 85vh;
    }
}

@media all and (max-width:570px) {
    h1 {
        font-size: 4rem;
    }
}

@media all and (max-width:450px) {
    h1 {
        font-size: 3rem;
        height: 10vh;
    }

    .container {
        height: 90vh;
    }
}