:root {
    --blue : rgba(0, 51, 145, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(0, 84, 240) 0%, rgba(0, 51, 145, 1) 26%, rgba(0,0,0,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    /* z-index: 3; */
    /* position: relative; */
}

.d-none {
    display: none !important;
}

h1 {
    height: 20vh;
    text-align: center;
    font-size: 7rem;
    font-family: 'Macondo', cursive;
    color: #fff;
    text-shadow: 1px 1px 5px black;
}

@media all and (max-width:1000px) {
    h1 {
        font-size: 5rem;
        height: 15vh;
    }

    .container {
        height: 85vh;
    }
}

@media all and (max-width:570px) {
    h1 {
        font-size: 4rem;
    }
}

@media all and (max-width:450px) {
    h1 {
        font-size: 3rem;
        height: 10vh;
    }

    .container {
        height: 90vh;
    }
}