#form_container {
    height: 50%;
}

#form_container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

#form_container div label {
    color: white;
    margin-right: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

#form_container #votation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

select {
    padding: 10px;
    border: solid 3px black;
    border-radius: 10px;
}

.btn {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s;
    border: solid 3px black;
    color: black;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--blue);
    border: solid 3px white;
    color: white;
}

.btn:active {
    transform: scale(.3);
}

#refresh {
    margin: 0 10px;
}