#form_container form {
    max-width: 40%;
    margin: auto;
}

#form_container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    flex-grow: 1;
    max-width: 50%;
    padding: 0 10px;
}

#form_container div label {
    color: white;
    margin-right: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}

#form_container #votation{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

select {
    padding: 10px;
    border: solid 3px black;
    border-radius: 10px;
}

#refresh {
    margin: 0 10px;
}

#buttons {
    text-align: center;
}

h1 {
    top: -150px;
    animation: .5s slideIn ease-in-out forwards 1s;
}

.btn-logout:hover {
    background-color: #fff;
    border: solid 3px red;
    color: red;
}

/* LOGIN FORM */
h2 {
    margin: 0;
    margin-bottom: 20px;
	font-size: 24px;
    color: white;
}
.form-login {
    text-shadow: 1px 1px 3px black;
    padding: 40px;
    border: solid 3px black;
    border-radius: 10px;
    width: 360px;
    margin: 30px auto;
}

input {
	font: 14px 'Open Sans', sans-serif;
    border: solid 3px black;
    border-radius: 10px;
    padding: 6px;
    display: block;
	margin-bottom: 10px;
    width: 96%;
}

/* .btn-form {
    font: 14px 'Open Sans', sans-serif;
    background-color: #4285f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
	text-transform: uppercase;
} */

@keyframes slideIn {
    75% {
        top: 30px;
    }
    100% {
        top: 0px;
    }
}

@media all and (max-width:1440px) {
    #form_container form {
        max-width: 50%;
    }
}

@media all and (max-width:1162px) {
    #form_container form {
        max-width: 60%;
    }
}

@media all and (max-width:970px) {
    #form_container form {
        max-width: 80%;
    }
}

@media all and (max-width:969px) {
    #form_container #votation {
        flex-direction: column;
    }
    #form_container #votation div{
        max-width: none;
    }
}