table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
    margin-right: 10px;
}

table td, table th {
    border: solid 3px black;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f231;}

table .partecipant-row:hover {background-color: rgba(221, 221, 221, 0.35);}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f2f2f200;
    color: white;
}

table td {
    text-align: center;
    color : white;
    font-weight: 800;
}