* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgb(0, 84, 240) 0%, rgba(0, 51, 145, 1) 26%, rgba(0,0,0,1) 100%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
    position: relative;
}
.d-none {
    display: none !important;
}
#form_container {
    height: 50%;
}
#form_container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
#form_container div label {
    color: white;
    margin-right: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
}
#form_container #votation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
select {
    padding: 10px;
    border: solid 3px black;
    border-radius: 10px;
}
.btn {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s;
    border: solid 3px black;
    color: black;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(0, 51, 145, 1);
    border: solid 3px white;
    color: white;
}
.btn:active {
    transform: scale(.3);
}
#refresh {
    margin: 0 10px;
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 7rem;
    font-family: 'Macondo', cursive;
    color: #fff;
    text-shadow: 1px 1px 5px black;
    z-index: 1;
}
@media all and (max-width:570px) {
    h1 {
        font-size: 5rem;
    }
}
@media all and (max-width:405px) {
    h1 {
        font-size: 3rem;
    }
}
